.DS_Store
Thumbs.db

bin/
obj/
*.tmp
*.log
*.suo
*.user
*.userosscache
*.sln.docstates

*.vs/
.vscode/
.idea/

*.pdb
*.mdb
*.opendb

*.bak
*.old
*.orig

*.dll
*.exe
*.app
*.so
*.dylib
*.class

*.swp
*.lock

*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

.idea/
*.sln.iml

*.dbmdl
*.jfm
_ReSharper*

!.gitkeep
*.Publish.xml
*.template.json

Migrations/

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Ll]ogs/
[Mm]emoryCaptures/
*.unitypackage

bot_token.txt